body { background-color:silver; padding:0 0;}
.shadowtext {
    text-shadow: 1px 1px 2px black, 0 0 1em silver; /* Параметры тени */
    color: #FFF; /* Белый цвет текста */
    font-size: 1.5em; /* Размер надписи */
   }
   
   .shadowtextUser {
    text-shadow: 1px 1px 2px black, 0 0 1em silver; /* Параметры тени */
    color: black; /* Черный цвет текста */
    font-size: 14px; /* Размер надписи */
   }